<!DOCTYPE html>
<html>
<head>
  <title>AuthExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><%= link_to "Home", root_path%></li>
  <% unless logged_in? %>
  <li><%= link_to "Login", session_new_path %></li>
  <li><%= link_to "Sign Up", new_user_path %></li>
  <% else %>
  <li><%= link_to "Logout", logout_path %></li>
  <% end %>
</ul>
<%= yield %>

</body>
</html>
